/************* MAIN ************/
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins", Sans-serif;
}
.default-padding{
    padding-left: 10%;
    padding-right: 10%;
}
.pl-25{
    padding-left: 25em;
}
.pr-25{
    padding-right: 25em;
}
.bg-light {
    background-color: #e5dfd2;
}
.bg-default {
    background-color: #f6dc9f;
}
.bg-dark{
    background-color: #a5936a;
}
a {
    text-decoration: none;
}
.padding-menu {
    padding-top: 2em;
}
.mt-0{
    margin-top: 0;
}
.mt-3{
    margin-top:3em;
}
.mb-3{
    margin-bottom: 3em;
}
.pt-5 {
    padding-top: 5em;
}
.pt-8 {
    padding-top: 8em;
}
.btn-warning {
    cursor: pointer;
    box-sizing: border-box;
    background: #f6dc9f;
    border-style: solid;
    border-color: #f6dc9f;
    fill: #f6dc9f;
    border-radius: 3px;
    padding: 13px 15px;
    font-weight: 700;
    font-size: 15px;
    text-transform: none;
}
.btn-outline-secondary {
    cursor: pointer;
    color: #f6dc9f;
    box-sizing: border-box;
    background: none;
    border-style: solid;
    border-color: #f6dc9f;
    fill: #f6dc9f;
    border-radius: 3px;
    padding: 13px 15px;
    font-weight: 700;
    font-size: 15px;
    text-transform: none;
}
.btn-outline-secondary:hover {
    background: #f6dc9f;
    color: black;
    transition: all .3s;
}
.btn-outline-success {
    cursor: pointer;
    color: #6d9c40;
    box-sizing: border-box;
    background: none;
    border-style: solid;
    border-color: #6d9c40;
    fill: #6d9c40;
    border-radius: 3px;
    padding: 13px 15px;
    font-weight: 700;
    font-size: 15px;
    text-transform: none;
}
.btn-outline-success:hover {
    background: #6d9c40;
    color: black;
    transition: all .3s;
}
.btn-outline-danger {
    cursor: pointer;
    color: #9c4040;
    box-sizing: border-box;
    background: none;
    border-style: solid;
    border-color: #9c4040;
    fill: #9c4040;
    border-radius: 3px;
    padding: 13px 15px;
    font-weight: 700;
    font-size: 15px;
    text-transform: none;
}
.btn-outline-danger:hover {
    background: #9c4040;
    color: black;
    transition: all .3s;
}
ul {
    list-style: none;
}
/********* PAGE ********/
.page{
    display: inline-block;
    width: 100%;
}
.page-text {
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 0.5em;

}
.page-title {
    font-weight: bold;
    font-size: 1.8em;
    border-bottom-style: solid;
    border-bottom-color: #d0d0d0;
    border-bottom-width: 0.05em;
    width: 100%;

}
.page-description {
    color: #6b6b6b;
}

.form-control{
    margin: 1em;
}
.form-input {
    border-color: #888888;
    border-width: 0.05em;
    border-style: solid;
    border-radius: 6px;
    height: 1.6em;
    font-size: 0.8em;
    padding: 0.5em;
}
.w-14{
    width: 14em;
}
.modal-fade {
    background-color: #333333;
    opacity: 50%;
    display: block;
    position: fixed;
    top: 0em;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.modal {
    display: block;
    position: fixed;
    top: 5em;
    z-index: 3;
    width: 100%;
}
.modal-content {
    max-width: fit-content;
    min-width: 50em;
    margin-left: auto;
    margin-right: auto;
}
.modal-display {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 0.5em;
    background-color: #fff;
}
.modal-header{
    padding: 1em;
    border-radius: 0.5em 0.5em 0 0;
    border-style: solid;
    border-color: #b7b7b7;
    border-width: 1px;
    display: flex;
    justify-content: space-between;
}
.modal-header-close > a{
    color: #6b6b6b;
}
.modal-body{
    padding: 2em;
    border-style: none solid none solid;
    border-color: #b7b7b7;
    border-width: 1px;
}
.modal-footer{
    border-radius: 0 0 0.5em 0.5em;
    padding: 1em;
    border-style: solid;
    border-color: #b7b7b7;
    border-width: 1px;
}
/********* HEADER ******/
.header-bar {
    position: absolute;
    width: 100%;
    top:0;
    left:0;
    padding-top: 5vh;
    height: 8vh;
    display: grid;
    grid-template-columns: 47vw 37vw;
    grid-template-rows: 20px;
    align-content: center;
    z-index:1;
}

.header-logo{
    padding-left: 31%;
    color:#f6dc9f;
    font-weight:bolder
}
.header-item{
    display: block;
    position: relative;
    margin-left:5%;
    cursor: pointer;

}
.header-item > a {
    color: #fff;
    font-weight: bold;
    padding-left: 1em;    
}
.nav-ul{
    display: flex;
    flex-wrap: wrap;    
    margin-block-start: 0;
    margin-block-end: 0;
}
.sub-nav-ul{
    display: none;
    flex-wrap: wrap;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 1em;
    background-color: #f6dc9f;
    padding: 1em;
    width: 8em;
    border-radius: 3px;
}
.first{
    margin-top: 1em;
}
.sub-nav-a:hover .sub-nav-ul{
    transition: all .3s;
    display: block;
}
.sub-nav-ul:hover{
    background-color: #eccd85;
}
.sub-nav-a:hover {
    background-color: #eccd85;
    padding-top: 1em;
    border-radius: 3px;
}
.a-drop-down {
    padding-bottom: 1em;

}
.a-drop-down::after {
    content: ">";
    color: #fff;
    font-size: 13px;
    margin-left: 0.3em;
}
/************* HERO ************/
.hero-image {
    background-image: url("https://superbdemo.com/themes/superb-ecommerce/wp-content/uploads/2022/07/bg-img.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 80%;
    height: 760px;
}
.hero {
    height: 760px;
    width: 100%;
}
.hero-content {
    width: 30vw;
    padding-left: 16%;
    padding-top: 9%;
    color: white;
}
.hero-subject {
    font-size:50px;
    margin-bottom: 3vh;
    text-align: center;
}
.hero-buttons {
    display: grid;
    grid-template-columns: 30% 30%;
    justify-content: center;
    column-gap: 10px;
    height: 43px;
}
/************ ADVANTAGES *************/
.advantages {
    margin: 3em 0 3em 0;
    height: 22em;
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: 100%;
    column-gap: 50px;
    justify-content: center;
}
.advantages-itens {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.advantages-image {
    margin: 0 0 1em 0;
    margin-left: auto;
    margin-right: auto;
}
.advantages-title {
    margin-bottom: 0.5em;
    font-size: 1.8em;
    font-weight: bold;
}
.advantages-description {
    font-size: 1.3em;
}

/************* MOST BUY ***********/
.most-buy{
    margin: 3em 0 3em 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: center;
    column-gap: 1em;
}
.most-buy-direction {
    cursor: pointer;
    display: flex;
    border-style: solid;
    border-color:rgb(229 229 229);
    border-width: 0.1em;
    padding: 2em;
    border-radius: 2%;
    align-content: center;
    flex-wrap: wrap;
}
.most-buy-direction:hover {
    background-color:#f6dc9f;
    color: #fff;
    transition: all .3s;
}
.most-buy-category {
    width: 47em;
    border-style: solid;

    border-color:rgb(229 229 229);
    border-width: 0.1em;
    padding: 3em;
    display: flex;
    column-gap: 3em;
    border-radius: 2%;
}
.most-buy-text {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    row-gap: 1em;
}
.most-buy-title{
    font-size: 1.8em;
    margin-bottom: 1em;
    color:#f6dc9f;
    font-weight: bold;
    text-transform: uppercase;
}
.most-buy-description{
    font-size: 1.3em;
}
.most-buy-btn{
    width: 100%;
}
/************* PROPAGANDA **********/
.propaganda {
    padding-top: 4em;
    padding-bottom: 4em;
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-direction: row;
    column-gap: 4em;
}
.propaganda-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.propaganda-title {
    margin-bottom: 0.5em;
    font-size: 2.5em;
    font-weight: bold;
}
.propaganda-description {
    width: 28em;
    font-size: 1.2em;
}
/************* FOR SALE ***********/
.for-sale{
    display: grid;
    grid-template-columns: 25% 25% 25%;
    align-items: center;
    justify-items: center;
    justify-content: center;
    row-gap: 2em;
    column-gap: 2em;
}
.for-sale-product {
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
}
.for-sale-image {
    height: 18em;
    width: 18em;
    border-radius: 2%;
    cursor: pointer;
}
.for-sale-text {
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 0.5em;
}
.for-sale-title {
    font-weight: bold;
    font-size: 1.2em;
}
.for-sale-price {
    color: #6b6b6b;
}
/********* FOOTER *********/
.main-footer {
    background-color: #f1f1f1;
    height: 11em;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 14em;
}
.main-footer-text{
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
    font-size: 0.95em;
    color: #979797;
}
.main-footer-title{
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1em;
}
.main-footer-link{
    display: flex;
    flex-direction: row;
}
.social-link {
    cursor: pointer;
    background-color: #fff;
    border-radius: 100%;
    padding: 0.5em;
    margin-left: 0.5em;
}
.social-link > a{
    color: #979797;
}
.main-footer-description{
    font-size: 1em;
}
.basic-footer {
    background-color: #dfdfdf;
    height: 2em;
    text-align: center;
    padding-top: 1em;
    color: #979797;
    font-size: 0.8em;
}
/******** PAGINATION *******/
.pagination {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.pagination-numbers {
    width: 1em;
    height: 1em;
    border-style: solid;
    border-width: 0.01em;
    border-color: #e4e4e4;
    padding: 0.5em;
    text-align: center;
    cursor: pointer;
}
.pagination-numbers:hover {
    background: #f6dc9f;
    color: black;
    transition: all .3s;
}
.pagination-numbers ul{
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0em;
}
.pagination-numbers a{
    color: #333333;
}
.search{
    display: flex;
    justify-content: flex-end;
}
.search-input{
    border-color: #888888;
    border-width: 0.05em;
    border-style: solid none solid solid;
    border-radius: 6px 0 0 6px;
    height: 1.6em;
    font-size: 0.8em;
    padding: 0.5em;
}
.search-button{
    padding: 0.5em;
    color: #fff;
    background-color: #eccd85;
    border-color: #888888;
    border-width: 0.05em;
    border-style: solid;
    border-radius: 0 6px 6px 0;
}
.group-input-button {
    display: flex;
}
/******** LOGIN ***********/
.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.login-card{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em 2em 5em 2em;
    border-radius: 1.2em;
}
.login-form{
    padding: 1em;
}
.login-logo{
    font-size: 2em;
    margin-bottom: 1em;
    font-weight: bold;
}
.login-title {
    color: #858585;
    font-size: 1.3em;
}
.login-link{
    padding-top: 1em;
}
.login-link > a{
    color:#888888;
}
/********* CART ******/
.cart-header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-left: 1em;
}
.cart-title{
    font-size: 1em;
    font-weight: bold;
}
.cart-remove-all > a{
    color: red;
    font-size: 0.8em;
}
.cart-products{
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}
.cart-product{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    align-items: center;
    padding-left: 2em;
}
.cart-product-image{
    height: 10em;
    width: 10em;
}
.cart-product-text{
    display: flex;
    flex-direction: column;
}
.cart-product-text-title{
    font-size: 1.5em;
    font-weight: bold;
}
.cart-product-text-description{
    color: #797979
}
.cart-product-price {
    display: flex;
    justify-self: center;
    flex-direction: column;
    text-align: end;
}
.cart-product-price-total{
    font-size: 1.2em;
    font-weight: bold;
}
.cart-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 5em;
    row-gap: 1em;
}
.cart-total{
    font-size: 1.2em;
    font-weight: bold;
}
.cart-buttons{
    color: red;
}
.cart-text{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    column-gap: 3em;
}
.cart-subtext{
    display: flex;
    flex-direction: column;
}
.cart-subtext-title{
    font-weight: bold;
}
.cart-subtext-quantity{
    color:#7b7b7b;
}